.main_div {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper_div {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 0.75rem;
  margin-top: 2.5rem;
  background-image: linear-gradient(to bottom, #001820, #181818ca);
  padding: 2.5rem 1.5rem;
  padding-bottom: 100px;
}

.upper_div {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

.preview_image {
  width: 154px;
  height: 154px;
  border-width: 3px;
  border-color: #06b6d4;
  z-index: 50;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main_heading {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.sub_heading {
  color: var(--primary);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  text-align: left;
}

.input_heading {
  color: #898989;
  font-size: 13px;
  margin-bottom: 0.25rem;
  text-align: left;
}

.input_div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input_div>*:not(:last-child) {
  margin-right: 0.5rem;
}

.input {
  flex: 1;
  background-color: #080808;
  border: none;
  height: 30px;
  border-radius: 2px;
  color: #ffffff;
}

.upload_btn {
  border: none;
  border-radius: 2px;
  height: 30px;
  width: 25px;
  background-color: #080808;
}

.upload_icon {
  color: #888888;
}

.splitting_btn_div {
  display: flex;
  align-items: center;
}

.splitting_btn_div>*:not(:last-child) {
  margin-right: 0.5rem;
}

.splitting_btn {
  border: none;
  background-color: #080808;
}

.splitting_icon {
  width: 1rem;
  height: 1rem;
  color: #888888;
}

.canvas_outer_div {
  position: relative;
  margin-top: 1rem;
}

.canvas_wrapper {
  background-color: #00000070;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #475569;
  cursor: pointer;

  /* ✅ make sure canvas looks sharp */
  object-fit: cover;
  /* acts if image used as <img>, but we keep for consistency */
}

.resize_handler {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  cursor: ns-resize;
  background-color: #475569;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.resize_handler:hover {
  background-color: #64748b;
}

.canvas-control-btn-div {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: #080808;
  padding: 8px 10px;
}

.canvas-control-btn-div>*:not(:last-child) {
  margin-right: 0.5rem;
}

.canvas-control-icons {
  width: 16px;
  height: 16px;
  color: #848484;
  cursor: pointer;
}

.canvas-control-icons:hover {
  color: white;
}