.main_nav {
  background-color: #003040;
  border-bottom: 2px solid #00c0ff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.sub_nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.left_div {
  display: flex;
  align-items: center;
}

.left_div > *:not(:last-child) {
  margin-right: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > *:not(:last-child) {
  margin-right: 0.5rem;
}

.nav_items {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  gap: 16px
}

/* .nav_items > *:not(:last-child) {
  margin-right: 1.5rem;
} */

.home {
  color: #00c0ff;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
}

.tools {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.tools > *:not(:last-child) {
  margin-right: 0.25rem;
}

.more {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #00c0ff;
}

.more > *:not(:last-child) {
  margin-right: 0.25rem;
}

.right_div {
  color: #00c0ff;
  font-weight: 700;
  font-size: 16px;
}
